---
name: ci

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cookstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Chef Workstation
        uses: actionshub/chef-install@main
      - name: Run Cookstyle
        run: chef exec rake cookstyle
        env:
          CHEF_LICENSE: accept-no-persist

  markdownlint-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
          config_file: ".markdownlint.yaml"

  rspec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Chef Workstation
        uses: actionshub/chef-install@main
      - name: Install DNSimple gem
        run: chef gem install -N dnsimple -v '~> 9'
        env:
          CHEF_LICENSE: accept-no-persist
      - name: RSpec
        run: chef exec rake spec
        env:
          CHEF_LICENSE: accept-no-persist

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run YAML Lint
        uses: actionshub/yamllint@main

  integration:
    needs:
      - cookstyle
      - markdownlint-cli
      - rspec
      - yamllint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - 'centos-8'
          - 'rockylinux-8'
          - 'rockylinux-9'
          - 'ubuntu-2004'
          - 'ubuntu-2204'
        suite:
          - 'create'
          - 'update'
      fail-fast: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Chef Workstation
        uses: actionshub/chef-install@main
      - name: Install DNSimple gem
        run: chef gem install -N dnsimple -v '~> 9'
        env:
          CHEF_LICENSE: accept-no-persist
      - name: Run Test Kitchen
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          DNSIMPLE_ACCESS_TOKEN: ${{ secrets.DNSIMPLE_ACCESS_TOKEN }}
          DNSIMPLE_TEST_DOMAIN: ${{ matrix.suite }}-record-${{ matrix.os }}-dnsimple.xyz
          KITCHEN_LOCAL_YAML: kitchen.yml
        with:
          suite: ${{ matrix.suite }}-record
          os: ${{ matrix.os }}
      - name: Debug
        if: failure()
        run: |
            set -x
            sudo journalctl -l --since today
            KITCHEN_LOCAL_YAML=kitchen.yml DNSIMPLE_TEST_DOMAIN=${{ matrix.suite }}-record-${{ matrix.os }}-dnsimple.xyz /usr/bin/kitchen exec \
            ${{ matrix.suite }}-record-${{ matrix.os }} -c "journalctl -l"
